@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans:wght@400;700+Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

%body {
  font-family: "Open Sans", sans-serif;
}

%header {
  font-family: "Nunito", sans-serif;
}

%quote {
  font-family: "Passion One", cursive;
}
