.header {
  @extend %position-0;

  position: fixed;
  bottom: unset;
  padding: $l 0;
  z-index: z-index("header");
  transition: $transition;

  &.-hide {
    animation: hideMenu $transition both;
  }

  &.-show {
    animation: showMenu $transition both;
    transform: translateY(-100%);
    background-color: $special-dark;
    top: 0 !important;
  }

  &__wrapper {
    @extend %flex;

    justify-content: space-between;
  }

  &__nav {
    @extend %flex;

    @include mediaTo(md) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: none;
      padding-top: $xl + $l;
      background-color: $special-dark;
      height: 100vh;
      justify-content: flex-start;
      overflow: auto;

      &.-is-active {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__hamburger {
    display: none;
    z-index: 10;

    @include mediaTo(md) {
      display: block;
    }
  }
}

@keyframes hideMenu {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes showMenu {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    background-color: transparent;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    background-color: $special-dark;
  }
}
