.infobar {
  @extend %absolute;

  bottom: unset;
  background-color: $dark;
  text-align: center;
  padding: $xs 0;
  height: $l;

  &__text {
    @extend %text;

    color: $light;
  }

  &+.header {
    top: $l;
  }
}
