.infobar {
  @extend %absolute;

  bottom: unset;
  background-color: $dark;
  text-align: center;
  padding: $xs 0;
  min-height: $l;
  z-index: z-index("infobar");

  @include mediaTo("sm") {
    display: none;
  }

  &__text {
    @extend %text;

    color: $light;
  }

  &+.header {
    top: $l + $s;

    @include mediaTo("sm") {
      top: 0;
    }
  }
}
