.menu {
  $root: &;

  @extend %flex;
  @extend %reset-list;

  @include mediaTo(sm) {
    flex-direction: column;
  }

  &-item {
    @extend %link;

    @include cssLock("padding", 360, 1920, (5, 20));

    padding-top: 0;
    padding-bottom: 0;
    color: $light;
    transition: $transition;
    position: relative;

    @include mediaTo(sm) {
      font-size: 20px;
      margin-bottom: $m;
      animation: showMenuLink $transition both;
    }

    &--rounded {
      a {
        @extend .button;

        @include mediaTo(sm) {
          font-size: 18px;
          height: auto;
        }
      }
    }

    &--icon {
      a {
        @extend .button--icon;
      }

      @include mediaTo(lg) {
        display: none;
      }
    }

    &:first-child {
      padding-left: 0 !important;
    }

    &:last-child {
      padding-right: 0 !important;
    }
  }

  a,
  button {
    color: $light;

    &:hover,
    &:focus {
      &+#{$root}__toggle {
        display: block;
      }
    }
  }

  &__button {
    @extend .button--icon;
    @extend .button;

    @include mediaTo(sm) {
      font-size: 18px;
      height: auto;
    }
  }

  &--settings {
    @include cssLock("margin-left", 360, 1920, (15, 30));

    #{$root}-item {
      @include cssLock("padding", 360, 1920, (0, 15));
    }
  }

  &__toggle {
    @extend %absolute;

    bottom: unset;
    top: $xl + $l;
    right: unset;
    display: none;
    background-color: $light;
    color: $dark;
    z-index: 10;
    border-top-right-radius: $l;
    border-bottom-right-radius: $l;
    width: auto;
    animation: showMenuLink $transition both;

    &::before {
      @extend %pseudo;

      height: calc(100% + #{$xl + $l});
      width: $xl;
      bottom: 0;
      left: 0;
      right: unset;
      top: unset;
      z-index: -1;
      cursor: pointer;
    }

    &::after {
      @extend %pseudo;

      bottom: unset;
      width: $xl;
      height: $xs;
      background: $special;
      transform: translateY(-100%);
    }

    &:hover {
      display: block;
    }
  }
}

@keyframes showMenuLink {
  0% {
    opacity: 0;
    transform: translateY(-$l);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
