/* stylelint-disable */
* {
  box-sizing: border-box;
}

body {
  @extend %body;

  background: $dark !important;
  height: 100vh;
}


main {
  @include mediaTo(sm) {
    margin-top: 0 !important;
  }
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

html #wpadminbar {
  opacity: 0.1;
}
